@{
  ViewData["Title"] = "Home";
}

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--display4">Welcome to microsb.net</h1>
    </div>
  </div>
</div>
